*{
  margin: 0;
  padding: 0;
}


.span_nav{
  color: aqua;
}

.icon_nav{
  color: white;
  margin-left: 5px;
}

.separador_nav{
  border-right: 1px solid white;
  /*border-left: 1px solid white;*/
}

.link_nav{
  margin-right: 0px;
  margin-left: -10px;
}

.icon_login{
  font-size: 9rem;
}






@media (max-width : 400px){
  .span_nav {
    display: none;
  }
  .icon_nav{
    margin-left: 20px;
  }
  .link_nav{
    margin-right: 25px;
  }
  .icon_login{
    font-size: 5rem;
  }
}