*{
  margin: 0;
  padding: 0;
}


.span_nav{
  color: aqua;
}

.icon_nav{
  color: white;
  margin-left: 5px;
}






@media (max-width : 400px){
  .span_nav {
    display: none;
  }
  .icon_nav{
    margin-left: 20px;
  }
}